<html ng-app="myApp">

    <head>
        <script src='angular.js'></script>
        <script src='app.js'></script>
        <title>Calculator</title>
    </head>


    <body ng-controller="Main" style="background-color:beige ;">
        <center>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>                                
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        <h1 style="font-family:Arial, Helvetica, sans-serif; color:forestgreen;">Calculator</h1> 
     <input type="number" ng-model="num1" value="0">
     <span ng-bind="operator"></span>
     <input type="number" ng-model="num2" value="0">
     <button ng-click="calculate()">=</button>
     <button>{{ans}}</button>
     <br/>
     <br/>
     <br/>
     Choose Operation :
     <button ng-click="Operation('+')">+</button>
     <button ng-click="Operation('-')">-</button>
     <button ng-click="Operation('*')">*</button>
     <button ng-click="Operation('/')">/</button>
    </center>
    </body>
</html>